# ═══════════════════════════════════════════
#   GIANNI Bot — Environment Variables
#   Kopiraj ovaj fajl u .env i popuni vrijednosti
# ═══════════════════════════════════════════

# Discord bot token (obavezan)
DISCORD_TOKEN=tvoj_token_ovdje

# (Opcionalno) URL za PANEL API
PANEL_API_URL=https://giann.uk
